@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.information {
   padding: 30px 0px 10px 0px;
}
   .information__content:last-child .information__title {
      text-transform: uppercase;
   }
   .information__content:not(:last-child) {
      margin-bottom: 30px;
   }
         .information__title {
            color: #ffffffbf;
         }
         .information__description {
            color: #ffffff99;
            font-size: 0.75rem;
            letter-spacing: 1px;
            padding: 8px;
            text-transform: uppercase;
         }

@media screen and (min-width: 1024px) {
   .information {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 80%;
   }
   .information__content:not(:last-child) {
      margin-bottom: 0;
      }
         .information__description {
            padding: 8px 8px 0 0;
         }
}